.button-primary {
  background-color: #f9ab10;
  border-radius: 10px;
}

.button-full {
  width: 100%;
  font-weight: 1000;
  height: 3.5em;
}

.button-group > button {
  margin-bottom: 1em;
}

.button-onboarding {
  width: 50%;
  font-weight: 1000;
  height: 3.5em;
  float: right;
  background-color: #f9ab10;
  border-radius: 10px;
}

.button-onboarding5 {
  width: 50%;
  font-weight: 1000;
  height: 3.5em;
  float: right;
  background-color:#d3f76c;
  border-radius: 10px;
}

.button-loginScreen {
  width: 100%;
  font-weight: 1000;
  height: 3.5em;
  background-color: #f9ab10;
  border-radius: 10px;
}

.button-quicknote {
  width: 50%;
  font-weight: 1000;
  height: 3.5em;
  float: left;
  background-color: #f9ab10;
  border-radius: 10px;
}

.button-foodlog {
  width: 20%;
  font-weight: 1000;
  height: 3.5em;
  float: right;
  background-color: #f9ab10;
  border-radius: 10px;
}