.container {
  display: flex;
  padding-left: 1em;
  padding-right: 1em;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.dashboard-container1 {
  height: 100%;
  width: 100%;
  background-color: #f9ab10;
  left: 26px;
  top: 315px;
  border-radius: 20px;
  padding: 5%;
}

.dashboard-container2 {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.35) 0%, rgba(28, 9, 9, 0.15) 100%);
  background: url(/src/assets/img/triangle-confetti.jpg);
  border-radius: 20px;
}

.quicknote-container1 {
  height: 100%;
  width: 100%;
  background-color: #f9ab10;

  padding: 5%;
}